/* Generics */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
}

body {background-color: rgb(197, 197, 197);}

.label {
    display: inline-block;
    font-size: 10px;
    padding: 5px 10px;
    border-radius: 15px;
    color: white;
}


/* Utilities */
.editorial{background-color: #03a9f4;}
.q1-goals{background-color: #73117c;}
.recruiting{background-color: #34aa48;}
.mobile{background-color: #df7c1f;}
.website{background-color: #d42962;}
.sales{background-color: #65da2f;}


/* Header */
#logo {
    background-color: white;
    height: 70px;
    padding-left: 20px;
}

img {vertical-align: middle;}

h1 {
    display: inline;
    vertical-align: middle;
    line-height: 70px;
    font-size: 40px;
}


/* Main */
.container {
    width: 70%;
    background-color: white;
    border-radius: 5px;
    margin: 30px auto 15px;
}

#list-options {
    padding: 15px 50px 10px;
    border-bottom: 2px solid rgb(197, 197, 197);
}

button {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

.task-button {
    background-color: #03a9f4;
    color: white;
}

.section-button {
    background-color: white;
    color: lightgrey;
}


/* Task & Section */
.list-new-task, .list-today-task, .list-upcoming-task {
    padding: 10px 50px;
}

h3 {margin-bottom: 10px;}

li {padding-bottom: 15px;}

.task-status {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid;
    border-radius: 50%;  
    font-size: x-small;
    font-weight: bold;
    text-align: center;
    margin-right: 5px;
}
.done { 
    color: green;
    border-color: green;
}

.undone {
    color: red;
    border-color: red;
}

